body {
    color: white;
    font-family: 'Arial', monospace;
    background-color: black;
    margin-left: 1;
    display: block;
    font-size: inherit;
    border-style: hidden;
    user-select: none;
}

* {
    cursor: inherit;
  }

html {
    cursor: url('res/normal.png'), auto;
    height: 100vh;
}

p {
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: #ffffff;
    transition: text-shadow 0.5s;
}

p:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 1);
}

.highlight {
    color: rgb(255, 137, 228);
    transition: text-shadow 0.5s ease;
}

.highlight:hover {
    text-shadow: 0 0 5px rgb(255, 0, 195);
    transition: text-shadow 0.5s;
}

.social-icons {
    display: flex;
    gap: 5px;
    margin-left: 0;
    transition: text-shadow 0.5s;
}

.social-icons a {
    color: white;
    font-size: 20px;
    transition: text-shadow 0.5s;
}

.social-icons a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(255, 255, 255);
    transition: text-shadow 0.5s;
}

li:hover, .toggle-button:hover {
    font-weight: bold;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
    transition: text-shadow 0.5s;
}

.hover-text:hover {
    font-weight: bold;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
    transition: text-shadow 0.5s;
}

.toggle-button {
    background-color: transparent;
    font-family: 'Arial', monospace;
    border: none;
    color: white;
    padding: 1px;
    font-size: 12px;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-family: 'Arial', monospace;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    display: none;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

ul {
    list-style-type: none;
    font-size: 12px;
    padding: 1px;
    max-height: 0; /* Standardmäßig ausgeblendet */
    overflow: hidden;
    transition: max-height 0.6s ease;
}

li {
    padding: 1px;
}

.social-icon .iconify {
    font-size: 24px;
}